# Dependencies
node_modules
.pnpm-store

# Build output
dist
dist-ssr

# Local env files
*.local
.env*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage 